In [7]:
# Adapted from:
# https://medium.com/@ms_somanna/guide-to-adding-noise-to-your-data-using-python-and-numpy-c8be815df524

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import tensorflow as tf
import numpy as np
import numexpr
import bottleneck

path = "Data/pickles/"

# Use the non-normalized data for this:
test_df = pd.read_pickle(path + "data_test.pkl")

test_df.head()

,energy(kWh/hh),isNA,year,month,day,hour,minute,dayNumber,weekend,CustomerCount,dipDay,ToU,AG__ACORN-,AG__ACORN-U,AG__Adversity,AG__Affluent,AG__Comfortable
151035318,1.044,0,2012,11,29,20,30,3,0,5530.0,0,0,0,0,0,1,0
151035319,0.932,0,2012,11,29,21,0,3,0,5530.0,0,0,0,0,0,1,0
151035320,0.700,0,2012,11,29,21,30,3,0,5530.0,0,0,0,0,0,1,0
151035321,0.828,0,2012,11,29,22,0,3,0,5530.0,0,0,0,0,0,1,0
151035322,1.048,0,2012,11,29,22,30,3,0,5530.0,0,0,0,0,0,1,0

In [8]:
test_df.shape

(16781703, 17)

In [9]:
y = test_df["energy(kWh/hh)"]
y[0:5]

151035318    1.044
151035319    0.932
151035320    0.700
151035321    0.828
151035322    1.048
Name: energy(kWh/hh), dtype: float64

# Gaussian Noise

In [10]:
shape = y.shape
std_deviation = 0.25
mean = 2

gaussian_noise = np.random.normal(mean, std_deviation, shape)

In [11]:
gaussian_noise[0:5]

array([2.03102505, 2.15968511, 1.78596802, 2.10150981, 2.06206272])

In [12]:
gaussianData = test_df.copy()

In [13]:
gaussianData["energy(kWh/hh)"] = gaussian_noise
gaussianData.head()

,energy(kWh/hh),isNA,year,month,day,hour,minute,dayNumber,weekend,CustomerCount,dipDay,ToU,AG__ACORN-,AG__ACORN-U,AG__Adversity,AG__Affluent,AG__Comfortable
151035318,2.031025,0,2012,11,29,20,30,3,0,5530.0,0,0,0,0,0,1,0
151035319,2.159685,0,2012,11,29,21,0,3,0,5530.0,0,0,0,0,0,1,0
151035320,1.785968,0,2012,11,29,21,30,3,0,5530.0,0,0,0,0,0,1,0
151035321,2.101510,0,2012,11,29,22,0,3,0,5530.0,0,0,0,0,0,1,0
151035322,2.062063,0,2012,11,29,22,30,3,0,5530.0,0,0,0,0,0,1,0

In [14]:
# Save
path = "Data/pickles/"
gaussianData.to_pickle(path + "data_noisy_gaussian_test.pkl")

# Salt and Pepper Noise

In [17]:
dataSize = y.size

# Set the percentage of data that should contain noise
noise_percentage = 0.1  # Setting to 10% noise

# Determine the size of the noise based on the noise precentage
noise_size = int(noise_percentage*dataSize)

# Randomly select indices for adding noise.
random_indices = np.random.choice(dataSize, noise_size)

# Create a copy of the test data
y_peppered = y.copy()

# Create a noise list with random placements of min and max values
noise = np.random.choice([y.min(), y.max()], noise_size)

# Replace the values of the templated noised at random indices
y_peppered.to_numpy().flat[random_indices] = noise

pepperedData = test_df.copy()
pepperedData["energy(kWh/hh)"] = y_peppered

In [22]:
# Find rows where values in df2 differ from df1
mask = (pepperedData != test_df).any(axis=1)

# Select 5 rows from df2 where values are different from df1
different_rows_df2 = pepperedData[mask].head(5)

# Print the selected rows
print("Rows in df2 with different values from df1:")
print(different_rows_df2)

Rows in df2 with different values from df1:
           energy(kWh/hh)  isNA  year  month  day  hour  minute  dayNumber  \
151035324           0.000     0  2012     11   29    23      30          3
151035331           0.000     0  2012     11   30     3       0          4
151035353           5.629     0  2012     11   30    14       0          4
151035361           0.000     0  2012     11   30    18       0          4
151035387           5.629     0  2012     12    1     7       0          5

           weekend  CustomerCount  dipDay  ToU  AG__ACORN-  AG__ACORN-U  \
151035324        0         5530.0       0    0           0            0
151035331        0         5529.0       0    0           0            0
151035353        0         5529.0       0    0           0            0
151035361        0         5529.0       0    0           0            0
151035387        1         5529.0       0    0           0            0

           AG__Adversity  AG__Affluent  AG__Comfortable
151035324              0             1                0
151035331              0             1                0
151035353              0             1                0
151035361              0             1                0
151035387              0             1                0

In [23]:
pepperedData["energy(kWh/hh)"].describe().transpose()

count    1.678170e+07
mean     4.104884e-01
std      1.188334e+00
min      0.000000e+00
25%      4.100000e-02
50%      8.900000e-02
75%      1.940000e-01
max      5.629000e+00
Name: energy(kWh/hh), dtype: float64

In [24]:
test_df["energy(kWh/hh)"].describe().transpose()

count    1.678170e+07
mean     1.573662e-01
std      2.331511e-01
min      0.000000e+00
25%      4.500000e-02
50%      8.900000e-02
75%      1.770000e-01
max      5.629000e+00
Name: energy(kWh/hh), dtype: float64

In [ ]:
# Save
path = "Data/pickles/"
pepperedData.to_pickle(path + "data_noisy_pepper_test.pkl")

# Targeted Noise